/* Dividers */
#custom-left_inv.1 {
  color: @cpu;
}

#custom-left_div.2 {
  color: @temperature;
}

#custom-left_div.3 {
  background-color: @temperature;
  color: @memory;
}

#custom-left_div.4 {
  background-color: @memory;
  color: @cpu;
}

#custom-left_div.5,
#custom-right_div.2 {
  color: @accent;
}

#custom-right_inv.1 {
  color: @time;
}

#custom-right_div.3 {
  background-color: @date;
  color: @time;
}

#custom-right_div.4 {
  background-color: @tray;
  color: @date;
}

#custom-right_div.5 {
  color: @tray;
}

#memory {
  background-color: @memory;
}

#cpu {
  background-color: @cpu;
}

#custom-distro {
  padding: 0 10px 0 5px;
  font-size: 23px;
  background-color: @accent;
  color: @main-bg;
}

#idle_inhibitor {
  padding-right: 4px;
  background-color: @tray;
}

#clock.time {
  padding-right: 6px;
  padding-left: 6px;
  background-color: @time;
}

#clock.date {
  padding-left: 6px;
  background-color: @date;
}

#network {
  background-color: @tray;
  padding: 0 6px 0 4px;
}
